.pasta{
padding:20px;
  border-radius:10px;
  margin:40px auto;
  width:50%;
}
input, select {
width:100%;
padding:10px;
 margin:8px 0;
  border:2px solid blue;
  border-radius:5px;
  font-size:16px;
  box-sizing: border-box;
}
input:focus, select:focus{
  border-color:green;
  outline:none;
  box-shadow: 5px 5px 15px rgba(76, 175, 80, 0.5);
}
h1 {
  text-align:center;
}
#escuro {
  font-size:20px;
  color:white;
  background-color:black;

}
body.dark {
  background:black ;
  color:white;
}
body.dark #escuro {
  background:white;
  color:black;
}
#botao {
  font-size:30px;
  display:block;
  margin:20px auto;
  color:red;
  border:solid blue 2px;
  background-color:black;
  
}
